.profile {
    margin: 74px auto 70px;
    padding: 0px 30px 0px;
}

.profile__header {
    margin: 0px auto 123px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.profile__fields {
    max-width: 410px;
    margin: 0px auto 0px;
}

.profile__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__label {
    margin: 0px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
}

.profile__input {
    border: 0px;
    background-color: transparent;
    text-align: right;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    color: #fff;
}

.profile__input::placeholder {
    text-align: right;
}

.profile__underline {
    height: 1px;
    margin: 16px auto 17px;
    background-color: #424242;
}

.profile__links {
    margin: 220px auto 0px;
    display: flex;
    flex-direction: column;
}

.profile__edit {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
    background-color: transparent;
    border: none;
    justify-content: center;
    cursor: pointer;
}

.profile__edit:disabled {
    color: #424242;
}

.profile__exit {
    display: flex;
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .profile {
        margin: 70px auto 70px;
    }

    .profile__header {
        margin-bottom: 81px;
    }

    .profile__links {
        margin-top: 375px;
    }

}