.movies {
    padding: 70px 30px 26px;
    min-height: 445px;
}

.movies__area {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 58px;
    justify-content: center;
    flex-wrap: wrap;
}

.movies__more {
    width: 320px;
    height: 36px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    border: 1px solid #424242;
    background-color: transparent;
    margin: 17px auto 53px;
}

@media screen and (max-width: 850px) {
    .movies {
        padding: 70px 0px 26px;
    }
}

@media screen and (max-width: 780px) {

    .movies {
        padding: 70px 30px 26px;
    }

    .movies__area {
        row-gap: 45px;
    }

    .movies__more {
        margin: 13px 10% 94px;
    }
}

@media screen and (max-width: 500px) {
    .movies__more {
        margin: 13px auto 94px;
    }
}



@media screen and (max-width: 400px) {
    .movies {
        padding: 40px 10px 26px;
        margin-bottom: 133px;
    }

    .movies__area {
        row-gap: 35px;
    }

    .movies__more {
        margin-top: 26px;
        margin-bottom: 0px;
        width: 240px;
    }
}