* {
    outline: 1px solid red;
}

.body {
    font-family: Inter, Arial, sans-serif;
    background-color: #202020;
}

.header {
    width: auto;
    padding: 18px 0px 18px;
    align-items: center;
}

.header__block {
    height: 38px;
    margin: 0px 70px 0px;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}

.header__movies {
    margin-right: 16px;
}

.header__authorization {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
}

.header__signup {
    margin-right: 30px;
    color: #fff;
}

.header__signin {
    background-color: #3DDC84;
    color: #000;
    width: 76px;
    height: 32px;
    border-radius: 3px;
    border: none;
}

.hero {
    min-height: 493px;
    width: auto;
    margin: 20px 40px 0px;
    background-color: #272727;
    border-radius: 10px;
}


.hero__phrase {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    max-width: 730px;
    padding: 160px 0px;
    margin: auto;
}

.hero__buttons {
    display: flex;
    flex-direction: row;
    margin: 0px auto 0px;
    justify-content: space-between;
    max-width: 308px;
}

.hero__button {
    background-color: #303030;
    border: none;
    width: 96px;
    height: 36px;
    border-radius: 10px;
    color: #fff;
}

.about {
    min-height: 388px;
    color: #fff;
    width: auto;
    padding: 110px 70px;
}

.about__header {
    margin: 0px 0px 23px;
}

.about__underline {
    height: 1px;
    background-color: #DADADA;
}

.about__columns {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 110px;
}

.about__column {
    margin-right: 30px;
}


.about__visualtrack {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.about__oneweekbox {
    color: #000;
    background-color: #3DDC84;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    height: 36px;
}

.about__fourweekbox {
    color: #fff;
    background-color: #303030;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    height: 36px;
}

.about__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    color: #8B8B8B;
}

.about__grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__columnheader {
    margin: 0px;
}

.tech {
    color: #fff;
    width: auto;
    padding: 100px 70px;
    background-color: #272727;
}

.tech__header {}

.tech__phrase {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 90px 0px 26px;
}

.tech__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: center;
    max-width: 460px;
    margin: 0px auto 0px;
}

.tech__buttons {
    display: flex;
    flex-direction: row;
    max-width: 690px;
    margin: 0px auto 0px;
    padding: 100px 0px 0px;
    gap: 10px;
}

.tech__button {
    background-color: #303030;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: -0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 60px;
}

.student {
    padding: 110px 70px 125px;
    width: auto;
    color: #fff;
}

.student__header {
    margin: 0px 0px 23px;
}

.student__underline {
    height: 1px;
    background-color: #DADADA;
}

.student__infoblock {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 66px;
}

.student__name {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0px;
}

.student__prof {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin: 18px 0px 26px;
}

.student__text {
    margin-right: 270px;
}

.student__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.student__git {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 100px 0px 0px;
}

.student__photo {
    border-radius: 10px;
    width: 270px;
    height: 327px;
}

.student__portfolio {
    margin-top: 100px;
}

.student__portfolio-header {
    margin: 0px 0px 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #8B8B8B;
}

.student__portfolio-linkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student__portfolio-link {
    margin: 0px;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
}

.student__portfolio-underline {
    margin: 0px;
    background-color: #424242;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 19px;
}

.footer {
    margin-top: 79px;
    padding: 0px 70px 0px;
}

.footer__header {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #8B8B8B;
}

.footer__underline {
    margin: 20px 0px;
    height: 1px;
    background-color: #424242;
}

.footer__credits {
    padding: 0px 0px 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__year {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: right;
    margin: 0px 20px 0px 0px;
}

.search {
    padding: 80px 70px 10px;
}

.search__input {
    display: flex;
    flex-direction: row;
}

.search__input-area {
    height: 50px;
    width: 100%;
    border: 0px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #2F2F2F;
}

.search__input-area input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    text-indent: 20px;
}

.search__shorts {
    display: flex;
    flex-direction: row;
    margin: 28px auto 0px;
    justify-content: center;
}

.search__shorts-thumb {}

.search__shorts-description {
    color: #fff;
    margin: 0px 0px 0px 13px;
}

.search__underline {
    height: 1px;
    background-color: #424242;
    margin-top: 40px;
    margin-bottom: 10px;
}

.movies {
    padding: 70px 70px 26px;
}

.movies__image {}

.movies__card {}

.movies__area {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.movies__infobox {
    display: flex;
    flex-direction: row;
    margin: 14px 14px 60px;
    justify-content: space-between;
    align-items: center;
}

.movies__imagebox {
    position: relative;
}

.movies__added-mark {
    position: absolute;
    top: 14px;
    right: 14px;
}

.movies__card-description {
    color: #fff;
    margin: 0px;
}

.movies__length {
    display: flex;
    height: 18px;
    width: 52px;
    color: #8B8B8B;
    background-color: #2F2F2F;
    justify-content: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0px;
    align-items: center;
    border-radius: 3px;
}

.profile {
    margin: 74px auto 70px;
}

.profile__header {
    margin: 0px auto 123px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.profile__fields {
    max-width: 410px;
    margin: 0px auto 0px;
}

.profile__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__label {
    margin: 0px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: left;
}

.profile__input {
    border: 0px;
    background-color: transparent;
    text-align: right;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    color: #fff;
}

.profile__underline {
    height: 1px;
    margin: 16px auto 17px;
    background-color: #424242;
}

.profile__links {
    margin: 220px auto 0px;
}

.profile__edit {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

.profile__exit {
    color: #EE3465;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
}

.registration {
    max-width: 396px;
    margin: 70px auto;
}

.registration__logo {
    background-image: url(../images/logo.svg);
    height: 38px;
    width: 38px;
}

.registration__header {
    margin: 40px 0px 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.registration__label {
    margin: 20px 0px 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #8B8B8B;
}

.registration__field {
    width: 396px;
    height: 46px;
    border-radius: 8px;
    background-color: #2F2F2F;
    border: none;
    margin: 0px auto 0px;
}

.registration__error-label {
    margin: 10px 0px 0px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #EE3465;
}

.registration__submit {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    width: 396px;
    height: 45px;
    top: 552px;
    left: 442px;
    border-radius: 3px;
    margin: 82px auto 10px;
    border: none;
    color: #fff;
    background-color: #4285F4;
}

.registration__to-login {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #8B8B8B;
}

.registration__to-login-link {
    margin-left: 6px;
    color: #4285F4;
}

.login {
    max-width: 396px;
    margin: 70px auto;
}

.login__logo {
    background-image: url(../images/logo.svg);
    height: 38px;
    width: 38px;
}

.login__header {
    margin: 40px 0px 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.login__label {
    margin: 20px 0px 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #8B8B8B;
}

.login__field {
    width: 396px;
    height: 46px;
    border-radius: 8px;
    background-color: #2F2F2F;
    border: none;
    margin: 0px auto 0px;
}

.login__error-label {
    margin: 10px 0px 0px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #EE3465;
}

.login__submit {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    width: 396px;
    height: 45px;
    top: 552px;
    left: 442px;
    border-radius: 3px;
    margin: 179px auto 10px;
    border: none;
    color: #fff;
    background-color: #4285F4;
}

.login__to-registration {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #8B8B8B;
}

.login__to-registration-link {
    margin-left: 6px;
    color: #4285F4;
}

.error {
    margin: 246px auto 60px;
    max-width: 400px;
}

.error__header {
    margin: 0px auto;
    font-size: 140px;
    font-weight: 400;
    line-height: 169px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.error__description {
    margin: 5px 0px 184px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
}

.error__go-back {
    margin: 0px auto 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #4285F4;
}

.headers-block {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0px 0px 23px;
}