/* .movie__card {} */

.movie__imagebox {
    width: 360px;
    position: relative;
}

.movie__imagebox img {
    width: 100%;
    height: 100%;
}

.movie__added-mark {
    position: absolute;
    top: 14px;
    right: 14px;
    background-image: url(../../../images/savedmovie.svg);
    height: 21px;
    width: 21px;
    background-color: transparent;
    border: none;
}

.movie__image {
    border-radius: 7px;
}

.movie__infobox {
    display: flex;
    flex-direction: row;
    margin: 10px 14px 0px;
    justify-content: space-between;
    align-items: center;
}

.movie__card-description {
    color: #fff;
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
}

.movie__length {
    display: flex;
    height: 18px;
    width: 52px;
    color: #8B8B8B;
    background-color: #2F2F2F;
    justify-content: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0px;
    align-items: center;
    border-radius: 3px;
}

@media screen and (max-width: 800px) {
    .movie__imagebox {
        width: 339px;
    }

    .movie__infobox {
        margin: 23px 0px 0px;
    }
}

@media screen and (max-width: 400px) {
    .movie__imagebox {
        width: 300px;
    }

    .movie__card-description {
        font-size: 12px;
        line-height: 15px;
    }

    .movie__infobox {
        margin-top: 13px;
    }

    .movie__added-mark {
        top: 10px;
        right: 10px;
    }
}