.footer {
    margin-top: 39px;
    padding: 0px 70px 0px;
}

.footer__header {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #8B8B8B;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #424242;
}

.footer__credits {
    padding: 0px 0px 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__year {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: right;
    text-decoration: none;
    color: #fff;
    margin: 0px 20px 0px 0px;
}

.footer__link:nth-of-type(2) {
    margin: 0px;
}

@media screen and (max-width: 800px) {
    .footer {
        padding: 0px 30px 0px;
    }
}

@media screen and (max-width: 400px) {

    .footer {
        padding: 0px 10px 0px;
    }

    .footer__header {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__credits {
        flex-direction: column-reverse;
    }

    .footer__link {
        font-size: 12px;
        line-height: 15px;
        margin: 11px 0px 12px;
    }

    .footer__links {
        flex-direction: column;
    }

    .footer__year {
        margin: 30px auto 0px;
        font-size: 12px;
        line-height: 15px;
    }

    .footer {
        margin-top: 11px;
    }
}