.student {
    padding: 110px 70px 125px;
    width: auto;
    color: #fff;
}

.student__header {
    margin: 0px 0px 23px;
}

.student__underline {
    height: 1px;
    background-color: #DADADA;
}

.student__infoblock {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 66px;
}

.student__name {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: left;
    margin: 0px;
}

.student__prof {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin: 18px 0px 26px;
}

.student__text {
    margin-right: 270px;
}

.student__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.student__git {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 100px 0px 0px;
}

.student__photo {
    border-radius: 10px;
    width: 270px;
    height: 327px;
}

.student__portfolio {
    margin-top: 100px;
}

.student__portfolio-header {
    margin: 0px 0px 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #8B8B8B;
}

.student__portfolio-linkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student__portfolio-link {
    margin: 0px;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    text-align: left;
}

.student__arrow {
    height: 18px;
    max-width: 100%;
    display: flex;
    align-self: center;
}

.student__portfolio-underline {
    margin: 0px;
    background-color: #424242;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 19px;
}